#outer-div {
	display: flex;
	width: 200px;
	height: 200px;
	margin: 20px auto;
	background-color: antiquewhite;
	border: 3px solid black;
	border-radius: 10px;
}

#inner-div {
	margin: auto;
	width: 100px;
	height: 100px;
	background-color: chocolate;
	border: 3px solid black;
	border-radius: 10px;
}
